[submodule "marketplace-api"]
	path = marketplace-api
	url = git@github.com:sergera/marketplace-api.git
[submodule "marketplace-web"]
	path = marketplace-web
	url = git@github.com:sergera/marketplace-web.git
[submodule "marketplace-vendor-edge-api"]
	path = marketplace-vendor-edge-api
	url = git@github.com:sergera/marketplace-vendor-edge-api.git
[submodule "marketplace-vendor-edge-worker"]
	path = marketplace-vendor-edge-worker
	url = git@github.com:sergera/marketplace-vendor-edge-worker.git
